#tit{
    border:pink double;
    background-color:lavender;
    color: burlywood;
    font-size: 28px;
    text-align:center;
}
h2{
    background-color: burlywood;
}
p{
    text-align: justify;
    
}